@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

/* shared Style */
.bg2 {
    background-color: #FFF8F3;
}
.text-primary {
    color: #F89708;
}
.text-dark1 {
    color: #181818;
}
.text-dark2 {
    color: #474747;
}
.text-dark3 {
    color: #757575;
}
.text-center {
    text-align: center;
}

.section-title {
    font-size: 35;
    font-weight: bold;
    color: #181818;
}
.section-description {
    font-size: 18px;
    color: #757575;
}

/* Button */
.butt {
    background-color: #F89708;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 16px;
}
.butt-ad {
    background-color: white;
    font-weight: bold;
    color: #F89708;
    border-radius: 5px;
    border-color: #F89708;
    padding: 18px 35px;
    font-size: 16px;

}

.head{
    background-image: url('/images/developer.png'), url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.navtitle {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* Banner Styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-content {
    max-width: 580px;
}

.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-weight: bold;
    font-size: 85px;
}

.banner-description {
    font-size: 18px;
}

.banner-pp {
    width 584px;
}

/* Main Styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}
/* About Section */

.aboutme {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.item-description {
    font-weight: 600;
}

.aboutitems {
    display: flex;
    justify-content: space-around;
}

/* Skills Style */

.skills {
    display: flex;
    gap: 24px;
}
.skill {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgb(0, 0, 0, 0.6);
}


/* Resume Style */

.resume-container{
    display: flex;
    gap: 24px;
} 

.experience-description {
    color: #757575;
}

.experience-sub-title {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.experience-title {
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume-column-title {
    font-size: 30px;
    color: #474747;
}

.resume-title {
    font-size: 35px;
    color: #181818;
    display: center;
}

.resume hr {
    margin: 30px 5px;
    color: #D1D1D1;
}

.resume-dcv {
    margin-top: 50px;
}

/* Footer Style */

footer {
    padding: 130px 230px;
    display: flex;
    gap: 115px;
}

.footer-column {
    width: 50%;
}

footer input[type="text"] , footer input[type="email"] ,footer textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: none;
    margin-bottom: 24px;
}
